/.idea
/finance.xcodeproj/project.xcworkspace/xcuserdata/radicheski.xcuserdatad/xcschemes/xcschememanagement.plist
/finance.xcodeproj/xcuserdata/radicheski.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/finance.xcodeproj/xcuserdata/radicheski.xcuserdatad/xcschemes/finance.xcscheme
/finance.xcodeproj/xcuserdata/radicheski.xcuserdatad/xcschemes/xcschememanagement.plist
/uml.drawio
